.custom-colorize {
  font-size: 20px;
  position: relative;
  width: 75px;
  height: 75px;
}
.custom-colorize-changer {
  font-size: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* -||--||--||--||--||--||--||--||--||--||- */

.card-background {
  background-color: rgba(255, 255, 255, 0.35);
  /* background-color: white; */
  /* background-color: wheat; */
}

.card {
  /* width: 50%; */
}

.dark-mode {
  font-family: monospace;
  background-color: #222;
}

.dialog {
  width: 500px;
}

.dialog[title=] {
  background-color: #222;
  display: flex;
}

.my-tabs {
  display: block;
}

input {
  display: block;
}

#deadline {
  background-color: transparent;
  border: none;
  display: inline;
}

/* .ui-datepicker {
  background-color: hsl(204, 86%, 53%);
  padding: 1em 0;
}

.ui-datepicker-header {
  background: hsl(0, 0%, 96%);
  color: white;
} */

/* Styles from shobitha dinsan*/
/* https://stackoverflow.com/questions/25474378/how-to-style-jquery-datepicker-calendar */

#ui-datepicker-div {
  background-color: hsl(0, 0%, 7%);
  height: auto;
  padding: 1px;
}

.ui-datepicker {
  width: 300px;
  height: 300px;
  margin: 5px auto 0;
  font-family: sans-serif;
}

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker-header {
  /* background: hsl(0, 0%, 21%); */
  color: white;
}

.ui-datepicker-title {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.ui-datepicker-prev {
  padding-left: 1em;
  float: left;
  cursor: pointer;
  /* background-position: center -30px; */
}

.ui-datepicker-next {
  padding-right: 1em;
  float: right;
  cursor: pointer;
  background-position: center 0px;
}

.ui-datepicker thead {
  /* background-color: hsl(0, 0%, 86%); */

  /*border-bottom: 1px solid #bbb;*/
}

.ui-datepicker th {
  background-color: hsl(0, 0%, 29%);
  text-transform: uppercase;
  font-size: 8pt;
  color: hsl(0, 0%, 86%);
}

.ui-datepicker th.ui-datepicker-week-end span {
  margin-left: 0.2em;
}

.ui-datepicker tbody td {
  padding: 0;
  /*border-right: 1px solid #808080;*/
}

.ui-datepicker tbody td:last-child {
  border-right: 0px;
}

.ui-datepicker tbody tr {
  border-bottom: 1px solid hsl(0, 0%, 7%);
}

.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker td span,
.ui-datepicker td a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: white;
}

.ui-datepicker-calendar .ui-state-default {
  /* background: hsl(0, 0%, 48%); */

  height: 40px;
  width: 40px;
  /* border: 1px solid hsl(0, 0%, 29%); */
  border-top: none;
}

.ui-datepicker-calendar .ui-state-hover {
  background: hsl(204, 86%, 53%);
  color: white;
}

.ui-datepicker-calendar .ui-state-active {
  background: hsl(204, 86%, 53%);
  /* -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1); */
  color: white;
  /* text-shadow: 0px 1px 0px #4d7a85; */
  /* border: 1px solid #55838f; */
  /* position: relative; */
  margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
  background: #d6e4be;
  color: #000;
}
