.card-background {
  background-color: rgba(255, 255, 255, 0.35);
  /* background-color: white; */
  /* background-color: wheat; */
}

#dialog[title=] {
  background-color: #222;
  display: flex;
}

.my-tabs {
  display: block;
}

input {
  display: block;
}

#deadline {
  background-color: transparent;
  border: none;
  display: inline;
}

/* .ui-datepicker {
  background-color: hsl(204, 86%, 53%);
  padding: 1em 0;
}

.ui-datepicker-header {
  background: hsl(0, 0%, 96%);
  color: white;
} */

/* Styles from shobitha dinsan*/
/* https://stackoverflow.com/questions/25474378/how-to-style-jquery-datepicker-calendar */

.ui-datepicker {
  width: 300px;
  height: 300px;
  margin: 5px auto 0;
  font-family: sans-serif;
}

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker-header {
  background: hsl(0, 0%, 21%);
  color: white;
  border-width: 1px 0 0 0;
  border-style: solid;
  /* border-color: #111; */
}

.ui-datepicker-title {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.ui-datepicker-prev {
  float: left;
  cursor: pointer;
  background-position: center -30px;
}

.ui-datepicker-next {
  float: right;
  cursor: pointer;
  background-position: center 0px;
}

.ui-datepicker thead {
  background-color: #f7f7f7;

  /*border-bottom: 1px solid #bbb;*/
}

.ui-datepicker th {
  background-color: hsl(0, 0%, 29%);
  text-transform: uppercase;
  font-size: 8pt;
  color: hsl(0, 0%, 86%);
  /*text-shadow: 1px 0px 0px #fff;*/
  /*filter: dropshadow(color=#fff, offx=1, offy=0);*/
}

.ui-datepicker tbody td {
  padding: 0;
  /*border-right: 1px solid #808080;*/
}

.ui-datepicker tbody td:last-child {
  border-right: 0px;
}

.ui-datepicker tbody tr {
  border-bottom: 1px solid hsl(0, 0%, 7%);
}

.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker td span,
.ui-datepicker td a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: white;
}

.ui-datepicker-calendar .ui-state-default {
  background: hsl(0, 0%, 48%);
  color: white;
  height: 40px;
  width: 40px;
}

.ui-datepicker-calendar .ui-state-hover {
  background: hsl(204, 86%, 53%);
  color: white;
}

.ui-datepicker-calendar .ui-state-active {
  background: #33adff;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  color: #e0e0e0;
  text-shadow: 0px 1px 0px #4d7a85;
  border: 1px solid #55838f;
  position: relative;
  margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
  background: #d6e4be;
  color: #000;
}
